* {
  margin: 0px;
  padding: 0px;
}

.title {
  width: 80%;
  margin-left: 10%;
  background-color: #783e05;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.button {
  background-color: #065393;
  color: white;
  width: 150px;
  padding: 5px;
  margin-left: 10px;
  font-size: large;
}

.body {
  background-color: #ff9901;
  width: 80%;
  margin-left: 10%;
}

.left,
.right {
  width: 50%;
}

input {
  margin: 10px;
}